<div fxLayout="row wrap">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-title fxLayoutAlign="center" style="color: blue">
        User Details
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap.xs="0">
          <label><b>Hotel ID : </b>{{hotelId}}</label>
          <label><b>Hotel Name: </b>{{hotelId}}</label>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap.xs="0">
          <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>User ID</mat-label>
            <input matInput placeholder="User ID">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>User Password</mat-label>
            <input matInput placeholder="User Password">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Recovery Hint</mat-label>
            <input matInput placeholder="Recovery Hint">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100%">
    <mat-card>
      <mat-card-title fxLayoutAlign="flex-start" style="color: blue">
        Branch Table
      </mat-card-title>
      <mat-card-content>
        <div fxFlex="40%" fxFlexAlign="flex-start">
          <app-dual-select-demo></app-dual-select-demo>
        </div>
        <div fxFlex="60%">
          Role Details
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button fxFlex="50%" mat-raised-button color="primary">
          <mat-icon>account_circle</mat-icon>
          Save All Branch
        </button>
        <button fxFlex="50%" mat-raised-button color="primary">
          <mat-icon>person_add</mat-icon>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
