<!--<app-login></app-login>-->
<!--<app-main-screen></app-main-screen>-->
<!--<app-add-item></app-add-item>-->
<!--<app-side-nav-responsive></app-side-nav-responsive>-->
<!--<router-outlet></router-outlet>-->
<!--<div>-->
  <!--<app-dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"-->
                 <!--[(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></app-dual-list>-->
<!--</div>-->
<!--<app-branch-screen></app-branch-screen>-->
<app-user-screen></app-user-screen>
<!--<app-dual-select-demo></app-dual-select-demo>-->
